.link-icon {
  width: 3em;
  height: auto;
}
.link-icon:hover {
  width: 3.25em;
  height: auto;
}
.bg-color-main {
  background-color: #75e2f8;
}
#canvas {
  width: 100%;
  height: auto;
}
/*
    Colors
    75E2F8
    778DF8
    F8778D
*/
