@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.link-icon {
  width: 5em;
  height: auto;
}
.bg-color-main {
  background-color: #ebfaff;
}
.bg-color-dark {
  background-color: #1e1e1e;
}
.navbar-logo {
  width: 2em;
  height: auto;
}
.navbar {
  font-family: "Roboto", sans-serif;
}
.navbar-dark .navbar-brand {
  color: #ebfaff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ebfaff;
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #4cc9f0;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f72585;
}
#canvas {
  width: 100%;
  height: auto;
}
.about-me-container {
  color: #ebfaff;
  font-family: "Roboto", sans-serif;
}
.my-picture {
  width: 100%;
  height: auto;
}
.cv-icon {
  width: 3em;
  height: auto;
}
.custom-link {
  color: #f72585;
  text-decoration: none;
}
.custom-link:hover {
  color: #4cc9f0;
  font-weight: bold;
}
.btn-cyan {
  background-color: #4cc9f0;
  color: #1e1e1e;
  font-weight: bold;
}
.btn-cyan img {
  width: 27px;
  height: auto;
  margin-right: 5px;
}