.link-icon {
  width: 5em;
  height: auto;
}
.bg-color-main {
  background-color: #ebfaff;
}
.bg-color-dark {
  background-color: #1e1e1e;
}
.navbar-logo {
  width: 2em;
  height: auto;
}
.navbar a {
  color: #ebfaff;
  text-decoration: none;
}
#canvas {
  width: 100%;
  height: auto;
}
